<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{t "messages/manage-components"}}</h4>
  </div>
  <div class="panel-body">
    <div class="alert alert-dismissable"> 
      {{t "labels/current-workspace"}}: <span class="text-workspace" data-in-effect="bounce">{{current.name}}</span>
      {{#if-neq current.name default.name}}
      <button type="button" class="btn btn-merge">
        <i class="icon-code-fork"></i>
        Merge workspace
      </button>
      {{/if-neq}}
    </div>
      
    
    <div class="select-container">
      <div class="select-content">
        <form class="form-inline">
          <select name="workspace" class="form-control">
            {{#each workspaces}}
              <option value="{{name}}" {{selected ../workspace name}}>{{name}}</option>
            {{/each}}
          </select>
        </form>
      </div>
    </div>
    <div class="pull-right container-btn">
      <a class="icon-stack btn-active" data-toggle="tooltip" data-title="Activate this workspace!">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-rocket"></i>
      </a>
      <a class="icon-stack btn-add" data-toggle="tooltip" title="Add new workspace">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-plus"></i>
      </a>
      <a class="icon-stack btn-delete" data-toggle="tooltip" title="Delete this workspace!">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-minus"></i>
      </a>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><a href="#{{workspace}}/route">Router</a></li>
    <li class="list-group-item"><a href="#{{workspace}}/template">Template</a></li>
    <li class="list-group-item"><a href="#{{workspace}}/api">API</a></li>
  </ul>
</div>
