<li class="list-group-item">
  {{#if is_dir}}
    <i class="fa fa-folder-o"></i>
    <a href="#{{workspace}}/template/{{path}}">{{name}}</a>
  {{else}}
    <a href="#{{workspace}}/template/{{path}}/edit">{{name}}</a>
  {{/if}}
  {{#unless parent/workspace/default}}
  <div class="pull-right">
    {{#unless is_dir}}
      <a class="fa-stack btn-open-modal-copy" href="#modal-template-copy"
        data-toggle="modal" data-template-id="{{path}}">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-copy fa-stack-1x"></i>
      </a>
    {{/unless}}
    <a class="fa-stack btn-delete" data-template-id="{{path}}">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-minus fa-stack-1x"></i>
    </a>
  </div>
  {{/unless}}
</li>
