<li class="list-group-item">
  <a href="#{{workspace}}/template/{{path}}/edit">{{path}}</a>
  {{#unless parent/workspace/default}}
  <div class="pull-right">
    <a class="icon-stack btn-open-modal-copy" href="#modal-template-copy"
      data-toggle="modal" data-template-id="{{path}}">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-copy"></i>
    </a>
    <a class="icon-stack btn-delete" data-template-id="{{path}}">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-minus"></i>
    </a>
  </div>
  {{/unless}}
</li>
