<div class="panel panel-info">
  <div class="panel-heading">
    Router
  </div>
  <div class="panel-body">
    <a class="icon-stack btn-add">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-plus"></i>
    </a>
  </div>
  <ul class="list-group list-routes">
    {{#each routes}}
      <li class="list-group-item">
        <a href="#{{workspace}}/route/{{../router}}/{{@index}}/edit">{{method}} {{path}}</a>
        <a data-route-id="{{@index}}" class="icon-stack btn-delete pull-right">
          <i class="icon-circle-blank icon-stack-base"></i>
          <i class="icon-minus"></i>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
