<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Router</h4>
  </div>
  <div class="panel-body">
    <p>{{t "messages/lead-router-list"}}</p>
    {{#unless workspace/default}}
    <a class="fa-stack btn-add">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x"></i>
    </a>
    {{/unless}}
  </div>
  <ul class="list-group list-routes">
    {{#each routes}}
      <li class="list-group-item">
        <a href="#{{workspace}}/route/{{../router}}/{{@index}}/edit">{{method}} {{path}}</a>
        {{#unless ../workspace/default}}
        <a data-route-id="{{@index}}" class="fa-stack btn-delete pull-right">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-minus fa-stack-1x"></i>
        </a>
        {{/unless}}
      </li>
    {{/each}}
  </ul>
</div>
